.ingredientsList {
	padding-left: 16px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	list-style-type: none;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 32px;
}