.header {
	display: flex;
	max-width: 1920px;
	max-height: 88px;
	padding: 16px 320px;
	margin: 40px 40px 0;
	align-items: center;
	flex-shrink: 0;

	border: 2px solid var(--interface-accent, #4C4CFF);
	background: var(--interface-modal-bg, #1C1C21);
}

.logo {
  position: absolute;
  left: 42%;
}

.link_right {
	margin-left: auto;
}

.link {
	display: flex;
	padding: 16px 20px;
	align-items: center;
	border-radius: 40px;
	text-decoration: none;
	background: var(--interface-modal-bg, #1C1C21);
}

.link_active {
	color: white;
}